/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 61, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 68.75%;
}

/* line 64, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 11px;
  line-height: 1.25em;
}

/* line 42, ../sass/screen.sass */
a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 6, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
a:active, a:focus {
  outline: none;
}

/* line 47, ../sass/screen.sass */
#measure {
  background: rgba(0, 0, 0, 0.2);
  height: 25px;
  z-index: 20;
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 53, ../sass/screen.sass */
body {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* line 59, ../sass/screen.sass */
#page {
  font-family: "Lato", sans-serif;
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
/* line 38, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#page:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 480px) {
  /* line 59, ../sass/screen.sass */
  #page {
    overflow: visible;
  }
}

/* line 70, ../sass/screen.sass */
section {
  padding-top: 2.5em;
  height: 100%;
  display: inline-block;
  padding-bottom: 56px;
}
@media (min-width: 700px) {
  /* line 70, ../sass/screen.sass */
  section {
    padding-top: 5.625em;
  }
}

/* line 79, ../sass/screen.sass */
#touch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 27.5px;
  z-index: 40;
}
@media (min-width: 480px) {
  /* line 79, ../sass/screen.sass */
  #touch {
    display: none;
  }
}

/* line 89, ../sass/screen.sass */
#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 20;
}

/* line 97, ../sass/screen.sass */
nav {
  position: relative;
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.25em;
  height: 13.75px;
}
/* line 38, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
nav:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 700px) {
  /* line 97, ../sass/screen.sass */
  nav {
    height: 41.25px;
  }
}
/* line 104, ../sass/screen.sass */
nav header {
  font-family: "OstrichSansBold", Arial, sans-serif;
  font-size: 2.72727em;
  line-height: 0.45833em;
}
/* line 107, ../sass/screen.sass */
nav header h1 {
  display: inline;
}
/* line 109, ../sass/screen.sass */
nav header h1:after {
  content: "...";
}
@media (min-width: 480px) {
  /* line 104, ../sass/screen.sass */
  nav header {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }
  /* line 113, ../sass/screen.sass */
  nav header h1:after {
    content: none;
  }
}
@media (min-width: 700px) {
  /* line 104, ../sass/screen.sass */
  nav header {
    font-size: 4.36364em;
    line-height: 1.14583em;
  }
}
/* line 117, ../sass/screen.sass */
nav a {
  z-index: 20;
  width: 66.10169%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  font-family: "OstrichSansBold", Arial, sans-serif;
  font-size: 2.72727em;
  line-height: 1.375em;
  position: fixed;
  left: 32.20339%;
  margin-left: 0.23667em;
  display: none;
}
@media (min-width: 480px) {
  /* line 117, ../sass/screen.sass */
  nav a {
    position: static;
    font-family: "Lato", sans-serif;
    margin-left: 0;
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
    text-decoration: none;
    font-size: 1.27273em;
    line-height: 0.98214em;
  }
  /* line 4, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
  nav a:hover {
    text-decoration: underline;
  }
}
@media (min-width: 700px) {
  /* line 117, ../sass/screen.sass */
  nav a {
    margin-top: 13.75px;
  }
}
/* line 135, ../sass/screen.sass */
nav a:nth-child(2) {
  top: 1.5em;
}
/* line 137, ../sass/screen.sass */
nav a:nth-child(3) {
  top: 3em;
}
/* line 139, ../sass/screen.sass */
nav a:nth-child(4) {
  top: 4.5em;
  margin-right: 0;
}
/* line 142, ../sass/screen.sass */
nav #the-rest {
  border-bottom: 1px solid black;
  position: absolute;
  right: 0;
  left: 210px;
  top: 0;
  bottom: 0;
  z-index: -20;
}
@media (min-width: 480px) {
  /* line 142, ../sass/screen.sass */
  nav #the-rest {
    left: 190px;
  }
}
@media (min-width: 700px) {
  /* line 142, ../sass/screen.sass */
  nav #the-rest {
    left: 300px;
  }
}

/* line 155, ../sass/screen.sass */
#bio {
  font-size: 1em;
  line-height: 1.875em;
  position: relative;
  min-height: 173px;
  padding-top: 3.125em;
}
@media (min-width: 480px) {
  /* line 155, ../sass/screen.sass */
  #bio {
    padding-top: 4.375em;
    font-size: 1.27273em;
    line-height: 1.96429em;
  }
  /* line 163, ../sass/screen.sass */
  #bio #floater {
    float: left;
    height: 50%;
    width: 100%;
    margin-bottom: -50%;
  }
  /* line 168, ../sass/screen.sass */
  #bio #wrapper {
    clear: both;
    height: 19.6429em;
  }
}
/* line 171, ../sass/screen.sass */
#bio a {
  position: relative;
  vertical-align: middle;
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  height: 9em;
  overflow: hidden;
}
@media (min-width: 480px) {
  /* line 171, ../sass/screen.sass */
  #bio a {
    height: 15.75em;
  }
}
/* line 179, ../sass/screen.sass */
#bio a img {
  width: 100%;
}
@media (min-width: 480px) {
  /* line 179, ../sass/screen.sass */
  #bio a img {
    position: absolute;
    bottom: 0;
  }
}
@media (min-width: 700px) {
  /* line 179, ../sass/screen.sass */
  #bio a img {
    position: relative;
  }
}

/* line 189, ../sass/screen.sass */
#portfolio {
  font-size: 0.90909em;
  line-height: 1.375em;
  min-height: 126px;
}
@media (max-width: 480px) and (orientation: landscape) {
  /* line 189, ../sass/screen.sass */
  #portfolio {
    height: auto;
  }
}
/* line 196, ../sass/screen.sass */
#portfolio .linkOut {
  margin-top: 1.25em;
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-right: -100%;
  margin-bottom: 1.25em;
}
/* line 40, ../../../../../Library/Ruby/Gems/1.8/gems/susy-1.0.7/sass/susy/_isolation.scss */
#portfolio .linkOut:nth-child(3n + 1) {
  margin-left: 0%;
  clear: left;
}
/* line 40, ../../../../../Library/Ruby/Gems/1.8/gems/susy-1.0.7/sass/susy/_isolation.scss */
#portfolio .linkOut:nth-child(3n + 2) {
  margin-left: 33.89831%;
}
/* line 40, ../../../../../Library/Ruby/Gems/1.8/gems/susy-1.0.7/sass/susy/_isolation.scss */
#portfolio .linkOut:nth-child(3n + 3) {
  margin-left: 67.79661%;
}
/* line 200, ../sass/screen.sass */
#portfolio .linkOut img {
  width: 100%;
}
/* line 202, ../sass/screen.sass */
#portfolio .linkOut:first-child {
  margin-left: 0;
}

/* line 205, ../sass/screen.sass */
#cv {
  padding-top: 1.875em;
}
@media (min-width: 700px) {
  /* line 205, ../sass/screen.sass */
  #cv {
    padding-top: 3.75em;
    padding-bottom: 0;
  }
}
/* line 210, ../sass/screen.sass */
#cv h2 {
  margin-top: 1.25em;
  text-align: center;
  font-weight: bold;
  font-size: 1.09091em;
  line-height: 2.29167em;
}
@media (min-width: 480px) {
  /* line 210, ../sass/screen.sass */
  #cv h2 {
    text-align: left;
  }
}
@media (min-width: 700px) {
  /* line 210, ../sass/screen.sass */
  #cv h2 {
    font-size: 1.27273em;
    line-height: 1.96429em;
  }
}
/* line 219, ../sass/screen.sass */
#cv p {
  padding-left: 2em;
  text-indent: -2em;
  margin-bottom: 0.625em;
}
@media (min-width: 480px) {
  /* line 219, ../sass/screen.sass */
  #cv p {
    padding-left: 4em;
    text-indent: -2em;
  }
}
@media (min-width: 700px) {
  /* line 219, ../sass/screen.sass */
  #cv p {
    font-size: 1.09091em;
    line-height: 1.14583em;
  }
}
/* line 228, ../sass/screen.sass */
#cv p b {
  font-weight: bold;
}
/* line 230, ../sass/screen.sass */
#cv a {
  text-decoration: none;
  text-align: center;
}
/* line 4, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
#cv a:hover {
  text-decoration: underline;
}
