/* css additions*/
html, body {height:100%;} /*resets for footers*/
body {background:url(../img/fleur.svg);background-size:cover; background-position: center center}
input {margin: 10px auto;} /*layout*/
#dictionary {font-size:16px;} /*fix zoom after entering text in portrait mode*/
button {margin: 10px auto;} /*layout*/
.error {color:red;} /*easter egg!*/
h1 {margin: 4px 0;} /*layout*/
p {margin:6px 0;} /*layout*/
.container-fluid {min-height:100%} /*resets for footers*/
.row-fluid {padding-bottom: 30px;overflow:auto;} /*resets for footers*/
#footie {position:relative; margin-top: -40px; height: 30px; clear: both;padding-top: 10px;padding-left: 10px;} /*resets for footers*/
@media (min-width: 768px) and (max-width: 979px) and (orientation:portrait) {
	.row-fluid .span4 {
		width: 40.05524861878453%;
		*width: 40.00205712942283%;
	} /*inherits values from 5*/
	.row-fluid .span8 {
		width: 57.18232044198895%;
		*width: 57.12912895262725%;
	} /*inherits values from 7*/
}

